<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Custom Theme files -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/examples.css" rel="stylesheet" />
    <link href="/css/geochart.css" rel="stylesheet" />
    <link href="/css/hover.css" rel="stylesheet" />
    <link href="/css/magnific-popup.css" rel="stylesheet" />
    <!--js-->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bars.js"></script>
    <script src="/js/chartinator.js"></script>
    <script src="/js/gmaps.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/modernizr.min.js"></script>
    <script src="/js/nivo-lightbox.min.js"></script>
    <!--icons-css-->
    <!--Google Fonts-->
  
    <!--static chart-->
    <script src="/js/Chart.min.js"></script>
    <!--//charts-->
    <!-- geo chart -->
    <!--<script src="lib/html5shiv/html5shiv.js"></script>-->
    <!-- Chartinator  -->
  
    <script type="text/javascript">
        jQuery(function ($) {

            var chart3 = $('#geoChart').chartinator({
                tableSel: '.geoChart',

                columns: [{ role: 'tooltip', type: 'string' }],

                colIndexes: [2],

                rows: [
                    ['China - 2015'],
                    ['Colombia - 2015'],
                    ['France - 2015'],
                    ['Italy - 2015'],
                    ['Japan - 2015'],
                    ['Kazakhstan - 2015'],
                    ['Mexico - 2015'],
                    ['Poland - 2015'],
                    ['Russia - 2015'],
                    ['Spain - 2015'],
                    ['Tanzania - 2015'],
                    ['Turkey - 2015']],

                ignoreCol: [2],

                chartType: 'GeoChart',

                chartAspectRatio: 1.5,

                chartZoom: 1.75,

                chartOffset: [-12, 0],

                chartOptions: {

                    width: null,

                    backgroundColor: '#fff',

                    datalessRegionColor: '#F5F5F5',

                    region: 'world',

                    resolution: 'countries',

                    legend: 'none',

                    colorAxis: {

                        colors: ['#679CCA', '#337AB7']
                    },
                    tooltip: {

                        trigger: 'focus',

                        isHtml: true
                    }
                }


            });
        });
    </script>
    <!--geo chart-->

    <script src="~/js/skycons.js"></script>
   
</head>
<body>
   
    <div class="container" style="width:1430px">
        @RenderPage("_Left.cshtml")
        @RenderPage("_Header.cshtml")
        <div style="height:100vh;margin-top:110px;width:auto">
            @RenderBody()
        </div>

    </div>
    
    
</body>
</html>