<div class="sidebar-menu">
    <div class="col-md-8 col-sm-offset-2 text-center" style="border-bottom:1px solid #0094ff">
        <div style="padding-top:30px;font-size:1.3rem">
            <a href="#" class="glyphicon glyphicon-refresh"> </a> <span>功能导航</span>
        </div>
    </div>
    <div class="menu">
        <ul id="menu">
            <li><a href="/Home/Index"><i class="fa fa-bar-chart"></i><span>统计报表</span></a></li>
            <li id="menu-comunicacao">
                <a href="#"><i class="fa fa-book nav_icon"></i><span>基础数据</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-comunicacao-sub">
                    <li id="menu-mensagens"><a href="/BasicData/商品分类">商品分类</a></li>
                    <li id="menu-arquivos"><a href="/BasicData/仓库设置">仓库设置</a></li>
                    <li id="menu-arquivos"><a href="/BasicData/商品资料">商品资料</a></li>
                    <li id="menu-arquivos"><a href="/BasicData/供应商">供应商</a></li>
                    <li id="menu-arquivos"><a href="/BasicData/客户资料">客户资料</a></li>
                    <li id="menu-arquivos"><a href="/BasicData/员工设置">员工设置</a></li>
                </ul>
            </li>
            <li id="menu-academico">
                <a href="#"><i class="fa fa-file-text"></i><span>入库管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-boletim"><a href="/Home/Rests">入库订单</a></li>
                    <li id="menu-academico-boletim"><a href="/Home/Rests">退货处理</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-envelope"></i><span>出库管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="/StockOut/出库订单">出库订单</a></li>
                    <li id="menu-academico-boletim"><a href="/StockOut/签收订单">签收订单</a></li>
                    <li id="menu-academico-avaliacoes"><a href="/StockOut/退货处理">退货处理</a></li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-envelope"></i><span>库存管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="/Repertory/InventoryBreakage">当前库存</a></li>
                    <li id="menu-academico-boletim"><a href="/Repertory/InventroyTyansfer">库存报损</a></li>
                    <li id="menu-academico-avaliacoes"><a href="/Repertory/SelectInventory">库存调拨</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-cog"></i><span>用户管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="/Users/用户资料">用户资料</a></li>
                    <li id="menu-academico-boletim"><a href="/Home/Rests">权限管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
=======
﻿<div class="sidebar-menu">
    <div class="col-md-8 col-sm-offset-2 text-center" style="border-bottom:1px solid #0094ff">
        <div style="padding-top:30px;font-size:1.3rem">
            <a href="#" class="glyphicon glyphicon-refresh"> </a> <span>功能导航</span>
        </div>
    </div>
    <div class="menu">
        <ul id="menu">
            <li><a href="/Home/Index"><i class="fa fa-bar-chart"></i><span>统计报表</span></a></li>
            <li id="menu-comunicacao">
                <a href="#"><i class="fa fa-book nav_icon"></i><span>基础数据</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-comunicacao-sub">
                    <li id="menu-mensagens"><a href="/BasicData/商品分类">商品分类</a></li>
                    <li id="menu-arquivos"><a href="/BasicData/仓库设置">仓库设置</a></li>
                    <li id="menu-arquivos"><a href="/BasicData/商品资料">商品资料</a></li>
                    <li id="menu-arquivos"><a href="/BasicData/供应商">供应商</a></li>
                    <li id="menu-arquivos"><a href="/BasicData/客户资料">客户资料</a></li>
                    <li id="menu-arquivos"><a href="/BasicData/员工设置">员工设置</a></li>
                </ul>
            </li>
            <li id="menu-academico">
                <a href="#"><i class="fa fa-file-text"></i><span>入库管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-boletim"><a href="/Stock/入库订单">入库订单</a></li>
                    <li id="menu-academico-avaliacoes"><a href="/Stock/确认订单">确认订单</a></li>
                    <li id="menu-academico-boletim"><a href="/Stock/退货处理">退货处理</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-envelope"></i><span>出库管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="/StockOut/出库订单">出库订单</a></li>
                    <li id="menu-academico-boletim"><a href="/StockOut/签收订单">签收订单</a></li>
                    <li id="menu-academico-avaliacoes"><a href="/StockOut/退货处理">申请退货</a></li>
                    <li id="menu-academico-avaliacoes"><a href="/StockOut/处理退货">退货处理</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-envelope"></i><span>库存管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="/Repertory/InventoryBreakage">当前库存</a></li>
                    <li id="menu-academico-boletim"><a href="/Repertory/InventroyTyansfer">库存报损</a></li>
                    <li id="menu-academico-avaliacoes"><a href="/Repertory/SelectInventory">库存调拨</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-cog"></i><span>用户管理</span><span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="/Users/用户资料">用户资料</a></li>
                    <li id="menu-academico-boletim"><a href="/Home/Rests">权限管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
