
@{
    ViewBag.Title = "SelectInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--需要循环出各个仓库 !!!!!!!!!!!!!-->
<div class="page-header">
    <h1>
        <small>一仓库</small>
    </h1>

</div>
<table class="table table-striped">
   <tr>
       <th>编号</th>
       <th>仓库名称</th>
       <th>管理员</th>
       <th>地址</th>
       <th>电话</th>
   </tr>
</table>


