
@{
    ViewBag.Title = "用户修改";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1><small>更新资料</small></h1>
</div>
<div style="padding-left:45vh;padding-right:45vh;padding-top:15vh;">
    <p class="text-primary" style="font-size:20px;font-weight:600;">用户编号:&nbsp;1</p>
    <br />
    <div class="form-group has-success">
        <label class="control-label" for="inputWarning">用户名</label>
        <input type="text" class="form-control" id="inputWarning" placeholder="用户名">
    </div>
    <br />
    <div class="form-group has-warning">
        <label class="control-label" for="inputError">登录名</label>
        <input type="text" class="form-control" id="inputError" placeholder="登录名">
    </div>
    <br />
    <div class="form-group has-error">
        <label class="control-label" for="inputError">密码</label>
        <input type="password" class="form-control" id="inputPassword3" placeholder="密码">
    </div>
    <br />
    <div class="form-group has-error">
        <label class="control-label" for="inputError">确认密码</label>
        <input type="password" class="form-control" id="inputPassword3" placeholder="确认密码">
    </div>
    <br />
    <br />
    <button type="button" style="margin-left:15vh;" class="btn btn-info btn-primary btn-lg">更 新 信 息</button>
    <br />
</div>
