
@{
    ViewBag.Title = "修改员工设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>修改员工设置</h1>

<div style="padding-left:45vh;padding-right:45vh;font-size:34px;">
    <br />
    <br />
    <label><strong>员工姓名:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入员工姓名">
    <br />
    <br />
    <label><strong> 员工性别:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入员工性别">
    <br />
    <br />
    <label><strong>员工年龄:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入员工年龄">
    <br />
    <br />
    <label><strong>员工工资:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入员工工资">
    <br />
    <br />
    <label><strong>员工电话:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入员工电话">
    <br />
    <br />

    &nbsp;&nbsp; &nbsp;&nbsp;
    <div class="btn-group" style="text-align:center;">
        <button type="button" class="btn btn-primary btn-lg">修改</button>
    </div>
</div>