
@{
    ViewBag.Title = "修改客户资料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>修改客户资料</h1>

<div style="padding-left:45vh;padding-right:45vh;font-size:34px;">
    <br />
    <br />
    <label><strong>客户名称:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入供应商名称">
    <br />
    <br />
    <label><strong> 联 系 人:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入联系人">
    <br />
    <br />
    <label><strong>联系地址:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入地址">
    <br />
    <br />
    <label><strong>联系电话:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入联系电话">
    <br />
    <br />
    <label><strong>&nbsp;E-mail:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入E-mail">
    <br />
    <br />
    <label><strong>银行卡号:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入银行卡号">
    <br />
    <br />
    <label><strong>&nbsp; 备 注:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入备注">
    <br />
    <br />

    &nbsp;&nbsp; &nbsp;&nbsp;
    <div class="btn-group" style="text-align:center;">
        <button type="button" class="btn btn-primary btn-lg">修改</button>
    </div>
</div>