
@{
    ViewBag.Title = "添加商品资料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>添加商品资料</h1>

<div style="padding-left:45vh;padding-right:45vh;font-size:34px;">
    <br />
    <br />
    <label><strong>商品名称:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入商品名称">
    <br />
    <br />
    <label><strong> 商品类型:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入商品类型">
    <br />
    <br />
    <label><strong>&nbsp; 单 位:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入单位">
    <br />
    <br />
    <label><strong>拼音简写:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入拼音简写">
    <br />
    <br />
    <label><strong>&nbsp;供应商:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入供应商">
    <br />
    <br />
    <label><strong>&nbsp; 进 价:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入进价">
    <br />
    <br />
    <label><strong>&nbsp;零售价:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入零售价">
    <br />
    <br />
    <label><strong>&nbsp; 备 注:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入备注">
    <br />
    <br />

    &nbsp;&nbsp; &nbsp;&nbsp;
    <div class="btn-group" style="text-align:center;">
        <button type="button" class="btn btn-primary btn-lg">添加</button>
    </div>
</div>