
@{
    ViewBag.Title = "添加仓库设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>添加仓库设置</h1>

<div style="padding-left:45vh;padding-right:45vh;font-size:34px;">
    <br />
    <br />
    <br />
    <label><strong>仓库名称:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入仓库名称">
    <br />
    <br />
    <label><strong> &nbsp;管理员:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入管理员">
    <br />
    <br />
    <label><strong>  &nbsp; 电  话:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入电话">
    <br />
    <br />
    <label><strong>  &nbsp; 地  址:</strong></label>
    <input type="email" class="form-control" style="width:200px;display:inline;height:50px;" placeholder="请输入地址">
    
    <br /><br />
     &nbsp;&nbsp; &nbsp;&nbsp;
    <div class="btn-group" style="text-align:center;">
        <button type="button" class="btn btn-primary btn-lg">添加</button>
    </div>
</div>